{% extends "@it_poslovi/base.html.twig" %}
{% block title %}Postavi oglas{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
            
                    <li>
                        <a href="#">Arhiva poslova</a>
                    </li>
                    <li class="active">
                        <a href="{{ path('draft_job_ad') }}">
                        Postavi Posao
                        </a>
                    </li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-header">
                <h1>
                    {{ block('title') }}
                </h1>
            </div>

            {% block page_content %}
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="alert alert-info">
                                <button class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button>

                                <i class="ace-icon fa fa-hand-o-right"></i>
                                Please note that demo server is not configured to save the changes, therefore you may see an error message.
                            </div>


                            {% for error in form.vars.errors %}
                                {#{{ dump(error) }}#}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>

                                    <strong>
                                        <i class="ace-icon fa fa-times"></i>
                                        Upssss
                                    </strong>
                                    {{ error.message }}
                                    <br>
                                </div>
                            {% endfor %}

                            {{ form_start(form) }}

                            {{ form_row(form._token) }}
                            {{ form_row(form.id) }}
                            {{ form_row(form.version) }}

                            <div class="form-group">
                                {{ form_label(form.pozitonTitle) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.pozitonTitle) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.categoryes) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.categoryes) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.typeOfJobs) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.typeOfJobs) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.city) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.city) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.howToApply) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.howToApply) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.tags) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.tags) }}
                                </div>
                            </div>
                            {#<div class="form-group">
                                {{ form_label(form.start) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.start) }}
                                </div>
                            </div>#}
                            <div class="form-group">
                                {{ form_label(form.end) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.end) }}
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    {{ form_widget(form.save) }} 
                                </div>
                            </div>
                            {#{{ form_widget(form) }}#}
                            {{ form_end(form,{'render_rest': false}) }}

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            {% endblock %}

        </div>
    </div><!-- /.main-content -->
{% endblock %}

{% block navigation %}
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Arhiva poslova</a>
            </li>
            <li class="active">
                <a href="{{ path('draft_job_ad') }}">
                    Postavi Posao
                </a>
            </li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>
{% endblock %}

{% block assets %}
    <link rel="stylesheet" href="{{ asset('assets/css/daterangepicker.min.css') }}" />
{% endblock %}

{% block java_script_src %}
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}" /></script>
    {#    <script src="{{ asset('//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js') }}" /></script>#}
    {#<script src="{{ asset('assets/js/jquery.jqGrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid.locale-en.js') }}"></script>#}
{% endblock %}

{% block java_script %}
    <script type="text/javascript">
        (function ($) {

            $(function () {

                var duration = $('.duration');
                datePickerConfig = {
                    format: 'dd.mm.yyyy'
        {#                    startDate: '+1d'#}
                    },
                            durationDatePickerConfig = $.extend({}, datePickerConfig, {});


                    duration.datepicker($.extend({}, datePickerConfig, {}));

                });

            }(jQuery));
    </script>
{% endblock %}