{% extends "@it_poslovi/base.html.twig" %}
{% block title %}Tip Posla{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">Other Pages</a>
                    </li>
                    <li class="active">Blank Page</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-header">
                <h1>
                    Form Elements
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Common form elements and layouts
                    </small>
                </h1>
            </div>

            {% block page_content %}
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="alert alert-info">
                                <button class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button>

                                <i class="ace-icon fa fa-hand-o-right"></i>
                                Please note that demo server is not configured to save the changes, therefore you may see an error message.
                            </div>

                            <table id="grid-table">
                                <thead>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                </thead>
                            </table>
                            
                            {#<div class="col-sm-6 ovaj-ovde">
                                <ul>
                                    <li>Unordered List Item</li>

                                    <li>
                                        <small>List Item in small tag</small>
                                    </li>

                                    <li>
                                        <b>List Item in bold tag</b>
                                    </li>

                                    <li>
                                        <i>List Item in italics tag</i>
                                    </li>

                                    <li>
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                Nested List Item
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                Nested List Item
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                Nested List Item
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Unordered List Item which is a longer item and may break into more lines.</li>

                                    <li>
                                        <strong>List Item in strong tag</strong>
                                    </li>

                                    <li>
                                        <em>List Item in emphasis tag</em>
                                    </li>
                                </ul>
                            </div>#}
                            
                            
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            {% endblock %}

        </div>
    </div><!-- /.main-content -->
{% endblock %}

{% block assets %}
    {#<link rel="stylesheet" href="{{ asset('assets/css/ui.jqgrid.min.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css') }}" />
    
{% endblock %}
{% block java_script_src %}
    
    <script src="{{ asset('//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js') }}" /></script>
    {#<script src="{{ asset('assets/js/jquery.jqGrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid.locale-en.js') }}"></script>#}
{% endblock %}

{% block java_script %}
    <script type="text/javascript">
        ;(function($){
        
            $(function(){
                 $('#grid-table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax":"{{ path('ajax_archive_type_of_job') }}",
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { "data": "status" }
                    ]
                });
                
            });
            
        }(jQuery));
    </script>
{% endblock %}